 RewriteEngine On
RewriteBase /

# Aturan untuk mengalihkan URL ke index.php, tetapi abaikan aset-aset yang sudah ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/assets/   # Pengecualian untuk folder aset
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
